.projects {
  background-color: #FCFCFC;
  margin-top: 25px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 12px; 
  display: none;
}



/* ==========================projects header========================== */

.projects-header {
  display: flex;
  padding: 27px;
  position: sticky; 
  top: 0;
  z-index: 1;
  background-color: #FCFCFC;

}

.projects-header-title {
  color: #000;
  font-family: Poppins;
  font-size: 24px;
  font-style:normal;
  font-weight: bold;
  line-height: normal;
  margin-left: 50px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.sort-selection {
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.search-bar{
  margin-left: auto;
  margin-right: 80px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.sort-label {
  color: #909090;
  font-family: Poppins;
  font-size: 12px;
  font-weight: lighter;
  line-height: normal;
  padding-left: 3px;
}

.sort-options {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  &:hover {
    cursor: pointer;
  }
}

.search-bar-wrapper {
  margin-left: auto;
  margin-right: 80px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
}

.search-bar-container {
  position: relative;
  display: inline-block;
}

.search-text {
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  width: 200px; 
  border-radius: 30px;
  background: #EEE;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding-top: 3px;
}

.search-icon-img {
  width: 16px;
  height: 16px;
}

/* ==========================projects list========================== */
.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 270px;
  gap: 30px;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
}

.add-project-button-wrapper {
  border-radius: 30px;
  height: 100%;
  background: #FFF;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  &:hover {
    background-color: #e8e8e8;
    cursor: pointer;
  }
}

.add-project-button {
  background-color: #F3F6F8;
  border-radius: 30px;
  width: 100%;
  margin: 10px;
  display: flex;
}

.add-project-icon-wrapper {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.add-project-icon {
  height: 80px;
}

.add-project-text {
  padding-top: 10px;
  color: #B6B6B6;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.project {
  border-radius: 30px;
  height: 100%;
  background: #FFF;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.10);
  display: flex;
  &:hover {
    background-color: #e8e8e8;
    cursor: pointer;
  }
}

.project-details {
  padding: 25px;
}

.project-name {
  color: #000;
  font-family: "system-ui";
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.project-date {
  padding-top: 5px;
  color: #626262;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.active-stories {
  padding-top: 18px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.sprint-days-left {
  padding-top: 7px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.complete-status {
  padding-top: 18px;
  color: #000;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}







/*  */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 999; /* Place the overlay behind the popup */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  z-index: 9999; /* Set a high z-index value to bring the popup in front */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px; 
  height: 300px;
}