/* .home-page {
} */

.user-summary {
  display: inline-block;
  margin : 30px;
}

.projects {
  display: inline-block;
  margin : 30px;
}

.upcoming-tasks {
  display: inline-block;
  margin : 30px;
}

.logo {
  max-width: 100%;
  height: auto;
}

