html, body {
  min-height: 100%;
  margin: 0;
  padding: 0;
}


.home-page {
  background-color: #f0f4f8;
  display: grid;
  grid-template-columns: 3.5fr 11fr 4.5fr;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

.user-summary {
  background: #F0F4F8; 
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  margin-top: 25px;
  margin-bottom: 15px;
}

.horizontal-line {
  margin-right: 25px;
  margin-top: 15px;
  height: 2px;
  background: #DEDEDE;
}

.greeting {
  display: grid;
  grid-template-columns: auto 80px;
  margin-right: 25px;
  margin-top: 30px;
  & img {
    height: 70px;
    width: 70px;
  }
}

.greeting-left {
  margin-top: auto;
  margin-bottom: auto;
  & .hello-txt {
    color: #000;
    font-family: "system-ui";
    font-size: 20px;
    font-weight: 200;
    line-height: normal;
  }
  & .username-txt {
    color: #000;
    font-family: "system-ui";
    font-size: 22px;
    font-style:normal;
    font-weight: 400;
    line-height: normal;
  }
}

.project-stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(80px, auto);
  gap: 10px;
  margin-top: 30px;
}

.project-stat-txt {
  color: #909090;
  font-family: "system-ui";
  font-size: 12px;
  font-weight: 300;
  line-height: normal;
}

.project-stat-count {
  color: #000;
  font-family: "system-ui";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 5px;
  display: flex;
}

.project-stat-bar {
  margin-top: auto;
  margin-bottom: auto;
  margin-right:8px;
  width: 2px;
  height: 0.7em;
}

.project-stat-bar-color1 {
  background: #DE7BF7;
}
.project-stat-bar-color2 {
  background: #7BC3F7;
}
.project-stat-bar-color3 {
  background: #7DF77B;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.menu-buttons-wrapper {
  margin-top: auto;
  margin-bottom: 35px;
}

.menu-button-wrapper {
  margin-top: 35px;
  margin-bottom: 0;
}

.menu-button-txt {
  margin-left: 20px;
}

.menu-button-image {
  width: 18px; 
  height: 18px;
}

.icon-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: #444; 
  padding: 0; 
  display: flex;
  align-items: center;
}

.icon-button:hover,
.icon-button:focus {
  color: #555; 
}



.projects {
  display: inline-block;
  overflow-y: auto;
  flex: 1; 
}

.projects-header {
  position: sticky; 
  top: 0; 
  z-index: 1;
}

.upcoming-tasks {
  display: inline-block;
  overflow: hidden;
}

.logo {
  max-width: 100%;
  height: auto;
}

.tasks-days-until-due {
  display: inline-block;
  margin : 15px;
}

.tasks-by-projects-list {
  display: inline-block;
  margin : 5px;
}

.project-header-title {
  display: inline-block;
  margin : 5px;
}

.sort-selection {
  display: inline-block;
  margin : 5px;
}

.sort-selection {
  display: inline-block;
  margin : 5px;
}

.project-border {
  margin : 5px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 999; /* Place the overlay behind the popup */
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  z-index: 9999; /* Set a high z-index value to bring the popup in front */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 400px; 
  height: 300px;
}

.task-by-day {
  display: flex;
  align-items: flex-start;
}
