
.upcoming-tasks {
  display: inline-block;
  overflow: hidden;
}

.tasks-days-until-due {
  display: inline-block;
  margin : 15px;
}

.task-by-day {
  display: flex;
  align-items: flex-start;
}

.tasks-by-projects-list {
  display: inline-block;
  margin : 5px;
}