
.upcoming-tasks {
  display: inline-block;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.date-display {
  border-radius: 25px;
  background: #FCFCFC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.date-display-text{
  color: #A1A1A1;
  font-family: "system-ui";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.date-display-text-day {
  color: #000;
  font-family: "system-ui";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 8px;
}

.tasks{
  display: flex;
  flex-direction: column;
}

.tasks-upcoming-text{
  margin-top: 45px;
  margin-left: 15px;
  color: #000;
  font-family: "system-ui";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.tasks-days-until-due {
  display: inline-block;
  margin : 15px;
}

.tasks-by-projects-list {
  display: inline-block;
  margin : 5px;
}

.task-by-day {
  display: flex;
  align-items: flex-start;
}