
.upcoming-tasks {
  display: inline-block;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 30px;
}

.date-display {
  border-radius: 25px;
  background: #FCFCFC;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
  padding: 30px;
}

.date-display-text{
  color: #A1A1A1;
  font-family: "system-ui";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.date-display-text-day {
  color: #000;
  font-family: "system-ui";
  font-size: 20px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 8px;
}

.tasks{
  display: flex;
  flex-direction: column;
}

.tasks-upcoming-text{
  margin-top: 45px;
  margin-left: 15px;
  margin-bottom: 15px;
  color: #000;
  font-family: "system-ui";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.task-by-day {
  display: flex;
  margin-top: 15px;
  margin-left: 15px;
}

.tasks-days-until-due {
  color: #000;
  font-family: "system-ui";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 10px;
  white-space: nowrap;
}

.tasks-by-projects-list {
  margin-top: 10px;
  margin-left: 25px
}

.tasks-by-project {
  margin-bottom: 20px;
  display: flex;
}

.upcoming-tasks-vertical-bar {
  margin-top: 4px;
  margin-bottom: auto;
  width: 3px;
  height: 2.0em;
}

.tasks-by-project:nth-child(3n+1) .upcoming-tasks-vertical-bar{
  background-color: #DE7BF7;
}

.tasks-by-project:nth-child(3n+2) .upcoming-tasks-vertical-bar{
  background-color: #7BC3F7;
}

.tasks-by-project:nth-child(3n) .upcoming-tasks-vertical-bar{
  background-color: #7DF77B;
}

.task-by-project-right {
  margin-left: 33px;
}

.upcoming-tasks-project-name {
  color: #909090;
  font-family: "system-ui";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.task-description {
  margin-top: 10px;
  color: #000;
  font-family: "system-ui";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}



